/*
* Custom variables
*/
/* Laptop min screen size */
/* iPad min screen size */
/* iPhone min screen size */
/*
* Override Bootstrap variables
*/
@import url(bootstrap.css);
/*
* General Styles
*/
/* line 37, style.scss */
* {
  postiion: relative;
  box-sizing: border-box;
}

/* line 42, style.scss */
body {
  color: #2f2f2f;
  font-size: 16px;
}

/* line 47, style.scss */
header {
  max-height: 600px;
  height: 600px;
  overflow: hidden;
}
/* line 52, style.scss */
header img {
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -600px;
  width: 1200px;
}
@media screen and (min-width: 1200px) {
  /* line 52, style.scss */
  header img {
    top: auto;
    left: auto;
    margin: 0;
    width: 100%;
  }
}
/* line 67, style.scss */
header .name {
  font-size: 21px;
  position: absolute;
  top: 50px;
  left: 50px;
  color: #fff;
}
/* line 75, style.scss */
header .titles {
  position: absolute;
  bottom: 40%;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  /* line 75, style.scss */
  header .titles {
    bottom: 50%;
  }
}
/* line 86, style.scss */
header h1, header h2 {
  width: 100%;
  color: #fff;
  margin: 0;
}
/* line 92, style.scss */
header h1 {
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}
/* line 99, style.scss */
header h1 span {
  display: block;
}
@media screen and (min-width: 320px) {
  /* line 99, style.scss */
  header h1 span {
    display: inline;
  }
}
/* line 108, style.scss */
header h2 {
  font-size: 22px;
  font-weight: 100;
  width: 70%;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  /* line 108, style.scss */
  header h2 {
    width: 100%;
    margin: 0;
  }
}
/* line 120, style.scss */
header .social {
  position: absolute;
  top: 55px;
  right: 50px;
  overflow: hidden;
}
/* line 126, style.scss */
header .social a {
  float: left;
  width: 26px;
  height: 26px;
  margin: 0 5px;
  text-indent: -9999px;
  background: url(../assets/icons/social-sprite.png) no-repeat;
  opacity: 0.8;
}
/* line 135, style.scss */
header .social a:hover {
  opacity: 1.0;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (-min-device-pixel-ratio: 2) {
  /* line 126, style.scss */
  header .social a {
    background: url(../assets/icons/social-sprite@2x.png) no-repeat;
    background-size: 76px 26px;
  }
}
/* line 144, style.scss */
header .social a.facebook {
  background-position: 0px 0px;
}
/* line 148, style.scss */
header .social a.twitter {
  background-position: -25px 0px;
}
/* line 152, style.scss */
header .social a.instagram {
  background-position: -50px 0px;
}

/* line 159, style.scss */
.fancy-font {
  font-family: "Kaushan Script", cursive;
}

/* line 163, style.scss */
.instagram-wrap {
  background: #eeeeee;
}

/* line 169, style.scss */
.instagram-content h3 {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding: 50px 0;
  color: #bbbbbb;
}
/* line 178, style.scss */
.instagram-content .photo-box {
  margin: 0 0 30px 0;
}
/* line 182, style.scss */
.instagram-content .photo-box .image-wrap img {
  width: 100%;
}
/* line 186, style.scss */
.instagram-content .photo-box .image-wrap .likes {
  position: absolute;
  bottom: 105px;
  left: 15px;
  padding: 5px;
  background: #000;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}
/* line 196, style.scss */
.instagram-content .photo-box .description {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  background: #fff;
  color: #9b9b9b;
  letter-spacing: 1px;
  padding: 15px;
  height: 75px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 212, style.scss */
footer {
  background: #368198;
  padding: 30px 0;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  /* line 212, style.scss */
  footer {
    padding: 100px 0;
  }
}
/* line 222, style.scss */
footer h4 {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 230, style.scss */
footer .about-text {
  padding: 0 30px;
  font-size: 20px;
  font-weight: 100;
}
@media screen and (min-width: 1200px) {
  /* line 230, style.scss */
  footer .about-text {
    width: 650px;
    margin: 0 auto;
  }
}
/* line 241, style.scss */
footer .contact-now-btn {
  display: inline-block;
  width: 70%;
  padding: 20px 50px;
  margin-top: 20px;
  color: #fff;
  background: #2f2f2f;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  /* line 241, style.scss */
  footer .contact-now-btn {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  /* line 241, style.scss */
  footer .contact-now-btn {
    width: 20%;
    margin-top: 50px;
  }
}
/* line 262, style.scss */
footer .contact-now-btn:hover {
  background: #3c3c3c;
  text-decoration: none;
  color: #fff;
}

/* line 270, style.scss */
.footer-bottom {
  background: #fff;
  padding: 10px 60px;
  border-top: 2px solid #eeeeee;
  letter-spacing: 2px;
  text-align: center;
  color: #9b9b9b;
  text-transform: uppercase;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  /* line 270, style.scss */
  .footer-bottom {
    padding: 40px 0;
  }
}

/*# sourceMappingURL=style.css.map */